# Data Structures

In [107]:
L=[1.2,13,9.9,"name"]     # list  ordered,changeable,duplicates
T=(1.3,8,9.9,"name")      #tuple ordered,unchangeable,duplicates
S={1,74,74,"name",7.6}    #set   unordered,removeable/addable,no duplicates
D={22:"ayushi",31:"aman","college":"gbu","college":"iiitg"} #dict  unordered,changeable,no duplicates

In [108]:
print("list:",L)
print("tupple:",T)
print("set:",S)
print("dict:",D)

list: [1.2, 13, 9.9, 'name']
tupple: (1.3, 8, 9.9, 'name')
set: {1, 74, 'name', 7.6}
dict: {22: 'ayushi', 31: 'aman', 'college': 'iiitg'}

In [109]:
print(L[2])
print(T[1])
print(74 in S)
print(D['college'],D[22])

9.9
8
True
iiitg ayushi

In [110]:
print(S)
S
#observe order difference

{1, 74, 'name', 7.6}

{1, 7.6, 74, 'name'}

In [111]:
print(L)
L

[1.2, 13, 9.9, 'name']

[1.2, 13, 9.9, 'name']

In [112]:
print(L[::-1]) #reverses the list
print(T[::-1])
print(S[::-1]) #observe

['name', 9.9, 13, 1.2]
('name', 9.9, 8, 1.3)

TypeError: 'set' object is not subscriptable

In [113]:
T[:3]

(1.3, 8, 9.9)

In [114]:
print(L)
L = L + ["how","are",6,"you"]
print(L)
L.append(6.8)
print(L)
print(S)
S.add(56) #add(single add),update(multiple add) in set / append in list
print(S)
S.update({23,"game",1})
print(S)
print(T)
T2 = ('a','b',45)
T = T+T2
print(T)
print(D)
D['newKey'] = "newValue" # adding new key/value in dict D
print(D)
D2={8:"abhinav",'G1':'group'}
D.update(D2)
print(D)
D = D + D2 #not allowed

[1.2, 13, 9.9, 'name']
[1.2, 13, 9.9, 'name', 'how', 'are', 6, 'you']
[1.2, 13, 9.9, 'name', 'how', 'are', 6, 'you', 6.8]
{1, 74, 'name', 7.6}
{1, 7.6, 74, 56, 'name'}
{1, 7.6, 74, 23, 56, 'name', 'game'}
(1.3, 8, 9.9, 'name')
(1.3, 8, 9.9, 'name', 'a', 'b', 45)
{22: 'ayushi', 31: 'aman', 'college': 'iiitg'}
{22: 'ayushi', 31: 'aman', 'college': 'iiitg', 'newKey': 'newValue'}
{22: 'ayushi', 31: 'aman', 'college': 'iiitg', 'newKey': 'newValue', 8: 'abhinav', 'G1': 'group'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [115]:
print(L)
del L[3]
print(L)
print(S)
S.remove('game')
print(S)
print(D)
del D['G1']
print(D)

[1.2, 13, 9.9, 'name', 'how', 'are', 6, 'you', 6.8]
[1.2, 13, 9.9, 'how', 'are', 6, 'you', 6.8]
{1, 7.6, 74, 23, 56, 'name', 'game'}
{1, 7.6, 74, 23, 56, 'name'}
{22: 'ayushi', 31: 'aman', 'college': 'iiitg', 'newKey': 'newValue', 8: 'abhinav', 'G1': 'group'}
{22: 'ayushi', 31: 'aman', 'college': 'iiitg', 'newKey': 'newValue', 8: 'abhinav'}

In [121]:
l=[4,3453,2.3,656]
l3=l  #l and l3 repressenting same memory ##call by reference
l2=l.copy() #l2 represents different memory but same elements as l ##call bye value
l2[1]=98
l3[1]=65
print(l3)
print(l2)
print(l)

[4, 65, 2.3, 656]
[4, 98, 2.3, 656]
[4, 65, 2.3, 656]

In [122]:
#slicing i is saved as copy
L=l[:3]
L

[4, 65, 2.3]

In [123]:
L[1]=59874
print(l)
L

[4, 65, 2.3, 656]

[4, 59874, 2.3]

In [120]:
l.clear() #clear all element

[]

In [124]:
help(L.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [55]:
l.clear?

In [56]:
l.pop?

In [125]:
l.reverse()

In [128]:
D.items()

dict_items([(22, 'ayushi'), (31, 'aman'), ('college', 'iiitg'), ('newKey', 'newValue'), (8, 'abhinav')])

In [129]:
L

[4, 59874, 2.3]

In [130]:
T

(1.3, 8, 9.9, 'name', 'a', 'b', 45)

In [131]:
S

{1, 23, 56, 7.6, 74, 'name'}

In [132]:
D

{22: 'ayushi',
 31: 'aman',
 'college': 'iiitg',
 'newKey': 'newValue',
 8: 'abhinav'}

In [134]:
D2 = {'A':L,'B':T,'C':S,'D':D}

In [136]:
D2['A'][1] #list inside dictionary

59874

In [137]:
K = D2['D']

In [138]:
K

{22: 'ayushi',
 31: 'aman',
 'college': 'iiitg',
 'newKey': 'newValue',
 8: 'abhinav'}

In [139]:
for x in K:
    print(x,K[x])

22 ayushi
31 aman
college iiitg
newKey newValue
8 abhinav

In [140]:
L3 = [x**2 for x in range(10)]

In [141]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [142]:
S3 = {x**2 for x in range(2,20,3)}

In [143]:
S3

{4, 25, 64, 121, 196, 289}

In [144]:
D

{22: 'ayushi',
 31: 'aman',
 'college': 'iiitg',
 'newKey': 'newValue',
 8: 'abhinav'}

In [145]:
22 in D

True

In [146]:
43 in D

False

In [147]:
"""Let say you are a teacher and you have different student
records containing id of a student and the marks list in each subject
where different students have taken different number of subjects. All
these records are in hard copy. You want to enter all the data in computer
and want to compute the average marks of each student and display"""

def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separted values: ")
        moreStudents = input('Enter "no" to quit insertion: ')
        if studentId in D:
            print(studentId, "is already insterted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [148]:
studentData = getDataFromUser()

Enter student ID: Aman
Enter the marks by comma separted values: 50,25,36,20
Enter "no" to quit insertion: 5
Enter student ID: Abhinav
Enter the marks by comma separted values: 50,49,66,80,20
Enter "no" to quit insertion: no

In [149]:
studentData

{'Aman': ['50', '25', '36', '20'], 'Abhinav': ['50', '49', '66', '80', '20']}

In [150]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [151]:
avgM = getAvgMarks(studentData)

In [152]:
avgM

{'Aman': 32.75, 'Abhinav': 53.0}

In [153]:
for x in avgM:
    print("Student :",x,"got avg Marks as: ",avgM[x])

Student : Aman got avg Marks as:  32.75
Student : Abhinav got avg Marks as:  53.0