#This is first

this is our

In [4]:
print("Hello World")

Hello World

$a=b+c$

In [10]:
# $a=b+c$

In [2]:
print ("10")

10

In [11]:
a=10
b=323.2
print(a)
print(type(a))
#del a
print(a)

10
<class 'int'>
10

In [12]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    323.2

In [25]:
a,b=5.6,6

In [14]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    5.6
b          int      6

In [24]:
#del a,b

In [26]:
print(a,b)

5.6 6

In [37]:
s2,s='a',"s"

In [39]:
print(type(s),type(s2))

<class 'str'> <class 'str'>

In [41]:
print(10/3,10//3,10.3/3,10.3//3)

3.3333333333333335 3 3.4333333333333336 3.0

In [43]:
print(2**3)

8

In [47]:
print(10.6%3.3)

0.7000000000000002

In [155]:
print("{0:14.2f}".format(20000000000/3))

 6666666666.67

In [133]:
sum=a+b
print(sum)
print(int(sum))

1
1

In [134]:
s1="hello" 
s2="hi"
print(s1+s2)

hellohi

In [73]:
10/3

3.3333333333333335

In [74]:
_

3.3333333333333335

In [80]:
if(s1=="hello" and s2=="hi"):
    print("yes")

yes

In [82]:
a=True
b=False
if(a or b):
    print("Yes")

Yes

In [84]:
if(a and not(b)):
    print("Yes")

Yes

In [88]:
if(not(b)):
    print("Y")

Y

In [115]:
i=True #j is always true if non-zero number
j=-5
if(i!=j and j):
    print("Y")
else:
    print("N");

Y

In [114]:
3==3.0

True

In [116]:
round(5.5116)

6

In [117]:
round(4.5)

4

In [118]:
round(5.5)

6

In [119]:
round(4.6)

5

In [167]:
print(round(-4.5))
print(round(-4.6))
print(round(4.5))
print(round(4.6))
print("FOR ODD NUMBER")
print(round(-3.5))
print(round(-3.6))
print(round(3.5))
print(round(3.6))

-4
-5
4
5
FOR ODD NUMBER
-4
-4
4
4

In [159]:
import math
"Floating point {0:200.3f}".format(math.pi)

'Floating point                                                                                                                                                                                                    3.142'

In [161]:
round(4.6515,3)

4.652

In [162]:
round(4.6525,3)

4.652

In [169]:
divmod(20,6)

(3, 2)

In [177]:
a=divmod(20,6)
#a[0]=6
"""tuple immutable
correct"""
print(type(a))
print(a[0],a)

<class 'tuple'>
3 (3, 2)

In [178]:
type(a)

tuple

In [181]:
print(42%4)
print(39.0%4)

2
3.0

In [182]:
isinstance(5.6,float)

True

In [185]:
isinstance(5+7j,(complex,int,float))

True

In [187]:
print(2**4)
print(pow(2,4,7),pow(2,4))
#(x**y)%z
#third argument in power

16
2 16

In [190]:
a=input("enter:")
print(type(a))

enter:2
<class 'str'>

In [203]:
a=float(input("enter : ")) #we can input int in float but not vice-versa
print(type(a))

enter : 25
<class 'float'>

In [200]:
pow? #documentation of pow

In [219]:
a=int(input("A : "))
b=int(input("B : "))
"""if a<b:
    print(a)
    print(1)
elif b<a:
    print(b)
    print(2)
else:
    print("Equal")
print("end")  """  
print ("A") if a>b else print ("=") if a==b else print("B")

A : 5
B : 5
=

In [237]:
""" input float 253.25 find integer portion and check even/odd"""
import math
a=float(input("Enter Float: "))
if(a>0):
    if(math.floor(a)%2==0):
        print("Even")
    else:
        print("odd")
else:
    if(math.ceil(a)%2==0):
        print("Even")
    else:
        print("odd")

Enter Float: 545
odd

In [228]:
math.floor?

In [249]:
n=5
while n!=0:
    n-=1
    if(n==1):
        break
    elif n%2==0:
        continue        
    else:
        print(n)
print ("end")

3
end

In [256]:
l=[] #list
for i in range(10):
    print("2 *",(i+1),"=",2*(i+1))
    l.append(2*(i+1))
print(l)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [267]:
"""for i in range(0,10,2):
    print(i)"""
for i in range(-2,10,2):
    print(l[i])
"""for x in l:
    print(x)"""

18
2
6
10
14
18

'for x in l:\n    print(x)'

In [273]:
s={"apple",4.9,"cheer"} #set
for x in s:
    print(x)
    #break
else:
    print("looop complete")
print("hello")

4.9
apple
cheer
looop complete
hello

In [279]:
d={"apple":"fruit","tomato":"veg"} #dict
for x in d:
    print (x,d[x])
    print (size(d))

apple fruit

NameError: name 'size' is not defined

In [299]:
"""sort a list"""
l=[1,-8,8,3,9,4,-6,-3]

for i in range(len(l)):
    for j in range(len(l)-i-1):
        if l[j]>l[j+1]:  
            temp=l[j]
            l[j]=l[j+1]
            l[j+1]=temp
        
print(l)

[-8, -6, -3, 1, 3, 4, 8, 9]

In [319]:
import sys
sys.getsizeof(d)
len(d)

2